@charset "UTF-8";
h1
{
	color: purple;
    background-color: #d8da3d;
}
<<<<<<< HEAD
#divLuis
{
	border:5px solid green;
=======

#divJairo{
	width: 80%;
    margin: auto;
    background-color: rgb(17, 138, 97);
    color: white;
    font-family: Helvetica, Arial;
    font-size: 15px;
    text-align: center;
>>>>>>> 2155e6810a71326e4a175c52b9a48cbc59c887d8
}